<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
    “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表可以在
    machine.config.comments 中找到，该文件通常位于
      \Windows\Microsoft.Net\Framework\vx.x\Config 中 
-->
<configuration>
  <configSections>
    <!--URLRewriter start-->
    <section name="CustomConfiguration" type="URLRewriter.Config.UrlsSection, URLRewriter"/>
    <!--URLRewriter end-->
    <!--UEditor start-->
    <section name="UEditor" type="UEditor.ConfigHandler, UEditor"/>
    <!--UEditor end-->
  </configSections>
  <appSettings configSource="Config\Connection.config"/>
  <CustomConfiguration configSource="Config\Urls.config"/>
  <UEditor configSource="Config\UEditor.config"/>
  <connectionStrings/>
  <system.web>
    <httpRuntime maxRequestLength="2097151" executionTimeout="36000" requestValidationMode="2.0"/>
    <!-- 
            设置 compilation debug="true" 可将调试符号插入到
            已编译的页面。由于这会
            影响性能，因此请仅在开发过程中将此值
            设置为 true。
        -->
    <compilation batch="false" debug="true" defaultLanguage="c#" targetFramework="4.0">
      <buildProviders>
        <add extension=".html" type="System.Web.Compilation.PageBuildProvider"/>
      </buildProviders>
      <assemblies>
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <!--
            通过 <authentication> 节可以配置
            安全身份验证模式，ASP.NET 
            使用该模式来识别来访用户身份。 
        -->
    <authentication mode="Windows"/>
    <!--<customErrors mode="Off"/>-->
    <!--如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节
            可以配置相应的处理步骤。具体而言，
            开发人员通过该节可配置要显示的 html 错误页，
            以代替错误堆栈跟踪。-->
    <!--<customErrors defaultRedirect="/404.htm" mode="On">
      <error redirect="/404.htm" statusCode="403" />
      <error redirect="/404.htm" statusCode="404"  />
      <error redirect="/404.htm" statusCode="500" />
      <error redirect="/404.htm" statusCode="400" />
      <error redirect="/404.htm" statusCode="401" />
    </customErrors>-->
    <!--UEditor start-->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="Editor" namespace="UEditor" assembly="UEditor"/>
      </controls>
    </pages>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="zh-CN"/>
    <!--UEditor end-->
    <httpHandlers>
      <add verb="*" path="*.html" type="System.Web.UI.PageHandlerFactory"/>
    </httpHandlers>
    <httpModules>
      <!--URLRewriter start-->
      <add type="URLRewriter.RewriterModule, URLRewriter" name="RewriterModule"/>
      <!--URLRewriter end-->
    </httpModules>
    <!--<customErrors mode="Off"/>-->
    <!--用来统计在线用户数-->
    <sessionState mode="InProc" timeout="5" cookieless="false"/>
  </system.web>
  <!-- 
        system.webServer 节是在 Internet Information Services 7.0 下运行 ASP.NET AJAX
        所必需的。对早期版本的 IIS 来说则不需要此节。
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRewriter" type="URLRewriter.RewriterModule, URLRewriter" preCondition="managedHandler"/>
    </modules>
    <security>
      <requestFiltering>
        <!-- 
    限制大小2147483647为2G//默认 30 000 000 B，约30M。
    -->
        <requestLimits maxAllowedContentLength="2147483647"/>
      </requestFiltering>
    </security>
    <!--重定向 域名 开始-->
    <!--重定向 域名 结束-->
    <handlers>
      <add name=".html" path="*.html" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness32"/>
    </handlers>
    <defaultDocument>
      <files>
        <clear/>
        <add value="index.aspx"/>
        <add value="index.html"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="iisstart.htm"/>
        <add value="default.aspx"/>
      </files>
    </defaultDocument>
    <!--<staticContent>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".mp4" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android" />
      <mimeMap fileExtension=".amr" mimeType="audio/amr" />
    </staticContent>-->
    <httpErrors>
      <remove statusCode="500" subStatusCode="-1"/>
      <remove statusCode="403" subStatusCode="-1"/>
      <remove statusCode="401" subStatusCode="-1"/>
      <remove statusCode="404" subStatusCode="-1"/>
      <error statusCode="404" prefixLanguageFilePath="" path="404.htm" responseMode="File"/>
      <error statusCode="401" prefixLanguageFilePath="" path="404.htm" responseMode="File"/>
      <error statusCode="403" prefixLanguageFilePath="" path="404.htm" responseMode="File"/>
      <error statusCode="500" prefixLanguageFilePath="" path="404.aspx" responseMode="File"/>
    </httpErrors>
    <!--<httpRedirect enabled="false" destination="http://www.sanbaodi.com" exactDestination="true" httpResponseStatus="Permanent" />-->
  </system.webServer>
</configuration>